# Virtual environment
.venv/
venv/
ENV/

# Environment variables
.env
.env.*

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Django / FastAPI / Flask
*.log
db.sqlite3
instance/

# Build / dist
build/
dist/
*.egg-info/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/

# Migrations (uncomment if you REALLY want to ignore them)
# migrations/
